.button {
    width: 100%;
    border-radius: 8px;
    background: #5d37f3;
    color: white;
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    text-align: center;

    &:hover {
        background: #4721dd;
        color: white;
    }

    &:active {
        background-color: #4721dd;
    }

    &-disabled {
        background: #e4e3eb;
        transition: 0.2s ease-in-out;

        &:hover {
            background: #e4e3eb;
            color: white;
            cursor: not-allowed;
        }
    }
}
