.blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
    grid-row-gap: 50px;

    &-container {
        margin-block: 64px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
