.similar-slider {
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;

    &-inner {
        display: flex;
        gap: 32px;
    }

    &-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &-buttons {
        display: flex;
        gap: 24px;

        &-active {
            cursor: pointer;
            background-color: #5d37f3;
            border-radius: 50px;
            transition: all 0.2s ease-in-out;

            &:hover {
                background-color: #512be7;
            }

            &:active {
                background-color: #4721dd;
            }
        }

        &-disabled {
            background-color: #e4e3eb;
            border-radius: 50px;
            transition: all 0.2s ease-in-out;

            &:hover {
                background-color: #d9d8e0;
            }

            &:active {
                background-color: #cfced6;
            }
        }
    }

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 100px 0 40px 0;
    }

    &-title {
        color: #1a1a1f;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 125%;
        margin: 0;
    }
}
