.login {
    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 12px;
        background: #fff;
        width: 430px;
        min-height: 250px;
        padding-inline: 24px;
        gap: 24px;
        z-index: 1999;
        padding-top: 20px;
    }

    &-header {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &-title {
        display: flex;
        justify-content: center;
        font-size: 24px;
        font-weight: 700;
        color: #1a1a1f;
        line-height: 133%;
        margin-block: 0;
    }

    &-overlay {
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: 1998;
        top: 0;
        left: 0;
        opacity: 0.24;
        background: #1a1a1f;
    }

    &-close {
        cursor: pointer;

        &-container {
            display: flex;
            justify-content: flex-end;
            width: 100%;
        }
    }

    &-success {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    &-error {
        &-icon {
            background-color: #ea1919;
            border-radius: 50px;
        }
    }

    &-return-button {
        &-container {
            display: flex;
            width: fit-content;
            width: 100%;
            padding-bottom: 40px;
            margin-top: 24px;
        }
    }

    &-input {
        width: 100%;
    }

    &-button-container {
        width: 100%;
        padding-bottom: 40px;
    }
}
